{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{%  static "home/home.css" %}">
        <script src="{% static "resources/jquery-3.6.0.min.js" %}"></script>
        <script src="{% static "home/home.js" %}"></script>
        <link rel="stylesheet" href="{% static "base.css" %}">
    </head>
    <body>
        <div class="header">
            <img id="logo" src="{% static "home/resources/logo.png" %}">
        </div>
        <div class="cards">
            <div class="card">
                <video class="card_img gray" id="pdf_ani" loop>
                    <source src="{% static "home/resources/pdf_animation.mp4" %}" type="video/mp4" muted="muted">
                </video>
                <span class="card_header">PDF-Editor</span> <br>
                <span class="card_description">This online PDF-Editor let you merge, delete, sign and extract images and texts from pdf files</span>
                <div class="go-arrow arrow_pdf" onclick="location.href='/pdf_editor';">&#8594;</div>
            </div>
            <div class="card">
                <video class="card_img" id="face_ani" loop>
                    <source src="{% static "home/resources/face_animation.mp4" %}" type="video/mp4" muted="muted">
                </video>
                <span class="card_header">Face recognizer</span> <br>
                <span class="card_description">A convolutional Neural Network classifies your age, gender and ethnicity based on a selfie</span>
                <div class="go-arrow arrow_face" onclick="location.href='MLprojects/';">&#8594;</div>
            </div>
            <div class="card">
                <video class="card_img" id="trading_ani" loop>
                    <source src="{% static "home/resources/trading_animation.mp4" %}#t=5" type="video/mp4" muted="muted">
                </video>
                <span class="card_header">Trading bot</span> <br>
                <span class="card_description">This bot implements basic trading strategies as well as Machine Learning algorithms  </span>
                <div class="go-arrow arrow_trading">&#8594;</div>
            </div>
        </div>
        <div class="footer_container">
            <div class="footer">
                <a href="https://www.linkedin.com/in/david-l-152a941a6/"><img class="footer_logo" src="{% static "home/resources/linkedin.svg" %}"></a>
                <a href="https://github.com/daviddung1993?tab=repositories"><img class="footer_logo" src="{% static "home/resources/github.svg" %}"></a>
            </div>
        </div>
    </body>
</html>